page-message {
    textarea.text-input {min-height: 150px}
    #perfil-aluno {height: 50px}
    #perfil-aluno img {    width: 60px;
        border-radius: 3px;
        float: left;
        margin-right: 10px;}
        
    #central-mensagens {margin-top: 20px}
}
