<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!userLogged">

    <ion-card-header>
      Login
    </ion-card-header>

    <ion-card-content>
      <ion-list no-lines>

        <ion-item>
          <ion-input type="text" [(ngModel)]="formLogin.user" placeholder="Usuário"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" [(ngModel)]="formLogin.password" placeholder="Senha"></ion-input>
        </ion-item>

      </ion-list>
      <button ion-button small color="primary" (click)="login()">Entrar</button>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="userLogged">

    <ion-card-header>
      Aluno: {{ userLogged.name }} 
    </ion-card-header>

    <ion-card-content>
      <div id="user-perfil">
      <img src="{{userLogged.image }}" class="user-image" />
      <br />
      <em>{{ userLogged.alias }}</em>
    </div>
    <button (click)="logout()" ion-button small color="danger">Sair</button>
    </ion-card-content>

  </ion-card>
</ion-content>
