<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!userLogged">Início</ion-title>
    <ion-title *ngIf="userLogged">Cadastro</ion-title>
    <img src="assets/imgs/logoprun.png" id="logo-prun-title" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!userLogged">

    <ion-card-header>
      Login
    </ion-card-header>

    <ion-card-content>
      <ion-list no-lines>

        <ion-item>
          <ion-input type="text" [(ngModel)]="formLogin.user" placeholder="Usuário"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" [(ngModel)]="formLogin.password" placeholder="Senha"></ion-input>
        </ion-item>

      </ion-list>
      <button ion-button small color="primary" (click)="login()">Entrar</button>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="userLogged">
    <ion-card-header id="perfil-title" text-center>
        <img src="{{userLogged.image}}" />
    </ion-card-header>
    <ion-list>
      <ion-item><p><b>Aluno: {{ userLogged.name }}</b></p></ion-item>
      <ion-item><p><b>Login</b>: {{ userLogged.login }}</p> </ion-item>
      <ion-item><p><b>Email</b>: {{ userLogged.email }}</p> </ion-item>
      <ion-item><p><b>Apelido</b>: {{ userLogged.alias }}</p> </ion-item>
      <ion-item><p><b>Assinatura</b>: {{ userLogged.signatureName }}</p> </ion-item>
      <ion-item><p><b>Nascimento</b>: {{ userLogged.birth }}</p> </ion-item>
      <ion-item><p><b>Fone 1</b>: {{ userLogged.phone1 }}</p> </ion-item>
      <ion-item><p><b>Fone 2</b>: {{ userLogged.phone2 }}</p> </ion-item>
      <ion-item><p><b>Fone 3</b>: {{ userLogged.phone3 }}</p> </ion-item>
      <ion-item><p><b>Profissão</b>: {{ userLogged.profession }}</p> </ion-item>
    </ion-list>
    <ion-card-content>
    
      <button (click)="showFormCadastro()" ion-button small color="primary">Editar</button>
      <button (click)="logout()" ion-button small float-right color="danger">Sair</button>
    </ion-card-content>

  </ion-card>
</ion-content>