<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!userLogged">

    <ion-card-header>
      Login
    </ion-card-header>

    <ion-card-content>
      <ion-list no-lines>

        <ion-item>
          <ion-input type="text" [(ngModel)]="formLogin.user" placeholder="Usuário"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" [(ngModel)]="formLogin.password" placeholder="Senha"></ion-input>
        </ion-item>

      </ion-list>
      <button ion-button small color="primary" (click)="login()">Entrar</button>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="userLogged">
    <ion-card-content>
      <div id="user-perfil">
          <img src="{{userLogged.image }}" class="user-image" />
        <h2>Aluno: {{ userLogged.name }}</h2>

        <p>
          Apelido: {{ userLogged.alias }} <br>
          Assinatura: {{ userLogged.assinatura }} <br>
          Data de nascimento: {{ userLogged.birth }} <br>
          Fone 1: {{ userLogged.phone1 }} <br>
          Fone 2: {{ userLogged.phone2 }} <br>
          Profissão: {{ userLogged.profession }}
        </p>
      </div>
      <button (click)="showFormCadastro()" ion-button small color="primary">Editar</button>
      <button (click)="logout()" ion-button small color="danger">Sair</button>
    </ion-card-content>

  </ion-card>
</ion-content>