<!--
  Generated template for the FichaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ficha de treino<img src="assets/imgs/logoprun.png" id="logo-prun-title" /></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div id="perfil-aluno">

    <img src="{{ user.image }}" />

    <span>Aluno: {{ user.name }}</span><br>
    <small>Apelido: {{ user.alias }}</small>
  </div>
  <br>
  <ion-item-group *ngFor="let treino of treinos">
    <ion-list no-lines>
      <ion-item-divider color="light">
        <h2>{{treino.nomeDia}}</h2>
      </ion-item-divider>

      <ion-item *ngFor="let exercicio of treino.exercicios">
        {{ exercicio.nomeExercicio }} - {{ exercicio.nomeCarga }} <br>
        <small>Repetição:</small> {{ exercicio.nomeRepeticao }} <br>
        <small>Intervalo:</small> {{ exercicio.nomeIntervalo }} <br>
        <p *ngIf="exercicio.observacao">Obs.: {{ exercicio.observacao }}</p>
        <p>Coment.: {{ exercicio.comentarioAluno }} </p>
        <button ion-button icon-only small (click)="showForm(exercicio)">
            <ion-icon name="send"></ion-icon>
          </button>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>